@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background: radial-gradient(#050029, #07013d, #050030)
}

.post{
    color: white;
    line-height: 4rem;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 5%;
    border-radius: 5px;
    background-color: #050029;
}

#nav{
    background-color: #050029;
}

#logo{
    color: #cfbadf;
    font-weight: 600;
}

#admin-link{
    margin-left: 10px;
}

#p{
    background-image: url('../images/p.svg');
    width: 16px;
    height: 16px;
    background-position: center;
    background-size: cover;
    margin-top: 40%;
    transform: translateX(100%);
    display: none;
}

#p-txt{
    display: block;
}

.base-post{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.text-white{
    color: white;
}

.text-gold{
    color: gold;
}

.mt-10{
    margin-top: 5vh;
}

.mb-10{
    margin-bottom: 10vh;
}

/* FORMS */

form{
    margin-top: 10vh;
}

label{
    color: white;
    font-weight: 400;
}

.redirect{
    color: white;
    margin-top: 10px;
}

.redirect a{
    text-decoration: none;
    color: #77ff00;
    font-weight: 300;
}
 
    /*PROFILE */

.bio{
    color: white;
}

.btn-pic{
    color: #11161E;
    margin-top: 1.5rem;
}

#pic-p{
    height: 40vh;
    width: 50vh;
    border-radius: 50%;
}

@media (min-width: 768px) {

    #p{
        display: block;
    }

    #p-txt{
        display: none;
    }

}


@media (min-width: 991px) {
    .nav1 {
        position: absolute;
        left: 60%;
        transform: translateX(-60%);
    }
}

