@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: #11161E;
}

#nav{
    background-color: #11161ee8;
}

#logo{
    color: #42FF00;
}

#p{
    background-image: url('../images/p.svg');
    width: 16px;
    height: 16px;
    background-position: center;
    background-size: cover;
    margin-top: 40%;
    transform: translateX(100%);
    display: none;
}

#p-txt{
    display: block;
}

/* FORMS */

form{
    margin-top: 10vh;
}

label{
    color: white;
    font-weight: 400;
}

.redirect{
    color: white;
    margin-top: 10px;
}

.redirect a{
    text-decoration: none;
    color: #42FF00;
    font-weight: 300;
}
 
    /*PROFILE */

.bio{
    color: white;
}

.btn-pic{
    color: #11161E;
    margin-top: 1.5rem;
}

#pic-p{
    height: 40vh;
    border-radius: 50%;
}

@media (min-width: 768px) {

    #p{
        display: block;
    }

    #p-txt{
        display: none;
    }

}


@media (min-width: 991px) {
    .nav1 {
        position: absolute;
        left: 55%;
        transform: translateX(-55%);
    }
}

